*,
*:after,
*:before {
   box-sizing: border-box;
}
.clearfix:after {
   content: "";
   display: block;
   clear: both;
}
body {
   min-width: 1140px;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
*/
/*MAIN HEADER*/
.main-header {
   width: 100%;
   height: 80px;
   background: #1d2126;
   display: flex;
   align-items: center;
}
.header-wrapper {
   width: 1140px;
   margin: auto;
}
.main-header-logo {
   float: left;
   margin-left: 4px;
   margin-top: 5px;
}
.main-nav ul {
   display: flex;
   flex-direction: row;
   float: right;
}
.main-nav ul li {
   margin-right: 16px;
}
.main-nav ul li:last-child {
   margin-right: 0;
}
.main-nav ul li a {
   text-decoration: none;
   cursor: pointer;
   border: 2px solid transparent;
   border-radius: 4px;
   color: #a4aead;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   line-height: 16px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   padding: 0 10px;
   height: 30px;
}
.main-nav ul .active {
   border: 2px solid #23b7a4;
   color: #23b7a4;
}
.main-nav ul li a:not(.active):hover {
   border: 2px solid #5b6168;
}
/*END OF MAIN HEADER*/
/*MAIN*/
/*gallery*/
.splide__slide img {
   display: block;
   width: 100%;
   min-height: 660px;
}
.gallery-wrapper {
   position: relative;
}
.gallery-info {
   width: 1140px;
   margin: auto;
}
.gallery-info-block {
   position: absolute;
   top: 220px;
   width: 655px;
   margin-left: 5px;
}
.gallery-info strong {
   color: #ffffff;
   font: 36px/38px "Open Sans", sans-serif;
   letter-spacing: -2.6px;
   word-spacing: -0.6px;
   margin-bottom: 18px;
   display: block;
}
.gallery-info span {
   color: #ccd0d7;
   font: 400 16px/27px "Open Sans", sans-serif;
   margin-bottom: 36px;
   display: block;
}
.gallery-links {
   display: flex;
   flex-direction: row;
}
.gallery-links li {
   margin-right: 10px;
}
.gallery-links a {
   color: #fff;
   font: 14px/16px "Open Sans", sans-serif;
   letter-spacing: -0.3px;
   word-spacing: -1.2px;
   text-decoration: none;
   cursor: pointer;
   border: 2px solid #fff;
   border-radius: 5px;
   height: 44px;
   min-width: 124px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.gallery-links a:hover {
   background: #23b7a4;
   border: 2px solid #23b7a4;
}
.splide__arrow {
   display: none;
}
.splide__pagination {
   position: absolute;
   justify-content: flex-end;
   right: 89px;
   bottom: 29px;
}
.splide__pagination .splide__pagination__page {
   border-radius: 50%;
   width: 13px;
   height: 13px;
   border: 2px solid #fff;
   background: none;
   margin-right: 9px;
   padding: 0;
   cursor: pointer;
}
.splide__pagination .splide__pagination__page[aria-current="true"] {
   background: #fff;
}
/*end of gallery*/
/*END OF MAIN*/
